@CHARSET "UTF-8";

body {
	font: 300 14px 'Lato', serif;
	text-align: center;	
}

h2 a {
	color: #fff;
}

h1 {
	font-size: 6rem;
	font-weight: 900;
	margin: .2em 0;
}

h2 {
	background-color: #000;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 400;
	margin: .2em 0 1em;
	padding: .2em .4em .3em;
}

code, table {
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

code {
	margin: 0 0 3em;
}

table td,
table th {
	padding: .3em .8em;
}

#main p {
	font-size: 1.3rem;
}

.demoBox section {
	margin-top: -100px;
}

#dl {
	background: #000;
	border: 4px;
	color: #fff;
	padding: .2em .4em;
	position: fixed;
	right: 15px;
	text-decoration: none;
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
}
